.setores__banner__imagem {
    display: inline-block;
    width: 100%;
    height: 281px;
    background-image: url("../img/Banner_setores_360.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.setores__mapa__imagem-css {
    display: inline-block;
    width: 100%;
    height: 360px;
    background-image: url("../img/Mapa_setores_360.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.setores__mapa__legenda {
    padding-left: 3.5rem;
}

.setores__mapa__legenda-titulo {
    padding-bottom: 1.75rem;
    font-size: 20px;
    font-weight: 700;
}

.setores__mapa__legenda__container {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    gap: 1rem;
}

.setores__mapa__legenda-cores-azul {
    width: 32px;
    height: 32px;
    background: var(--azul-medio);
}

.setores__mapa__legenda-cores-pink {
    width: 32px;
    height: 32px;
    background: var(--pink);
}

.setores__mapa__legenda-cores-verde {
    width: 32px;
    height: 32px;
    background: var(--verde-claro);
}

.setores__mapa__legenda-cores-roxo {
    width: 32px;
    height: 32px;
    background: var(--roxo);
}

.setores__mapa__legenda-descricao {
    font-size: 20px;
    font-weight: 500;
}

.detalhes__titulo {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 2rem ;
    text-align: center;
    margin: 0 1.5rem;
}

.detalhes__pista {
    display: flex;
    flex-direction: column;
    margin: 0 1.5rem;
}

.detalhes__pista__imagem {
    width: 100%;
    height: 239px;
    padding-bottom: 1.5rem;
}

.detalhes__pista__titulo {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1.5rem;
}

.detalhes__pista__texto {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
}

.detalhes__pistapremium {
    display: flex;
    flex-direction: column;
    margin: 2rem 1.5rem 0 1.5rem;
}

.detalhes__pistapremium__imagem {
    width: 100%;
    height: 239px;
    padding-bottom: 1.5rem;
}

.detalhes__pistapremium__titulo {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1.5rem;
}

.detalhes__pistapremium__texto {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
}

.detalhes__cadeiras {
    display: flex;
    flex-direction: column;
    margin: 2rem 1.5rem 0 1.5rem;
}

.detalhes__cadeiras__imagem {
    width: 100%;
    height: 239px;
    padding-bottom: 1.5rem;
}

.detalhes__cadeiras__titulo {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1.5rem;
}

.detalhes__cadeiras__texto {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 40px;
}

@media(min-width: 768px) {
    .setores__banner__imagem {
        background-image: url("../img/Banner_setores_768.png");
        width: 100%;
        height: 384px;
    }

    .setores__mapa__imagem {
        padding: 2rem 3.75rem 4rem 3.75rem;
    }

    .setores__mapa__imagem-css {
        background-image: url("../img/Mapa_setores.png");
        width: 100%;
        height: 609px;
    }

    .setores__mapa__legenda {
        padding-left: 16rem;
    }

    .setores__mapa__legenda-titulo {
        font-size: 32px;
    }

    .detalhes__titulo {
        font-size: 40px;
        margin: 4rem 3.75rem 0 3.75rem;
    }

    .detalhes__pista {
        margin: 0 3.75rem;
    }

    .detalhes__pista__imagem {
        padding: 0 8rem 1.5rem 8rem;
    }

    .detalhes__pista__titulo {
        font-size: 32px;
    }

    .detalhes__pistapremium {
        margin: 0 3.75rem;
    }

    .detalhes__pistapremium__imagem {
        padding: 2rem 8rem 1.5rem 8rem;
    }

    .detalhes__pistapremium__titulo {
        font-size: 32px;
    }

    .detalhes__cadeiras {
        margin: 0 3.75rem;
        padding-bottom: 2rem;
    }

    .detalhes__cadeiras__imagem {
        padding: 2rem 8rem 1.5rem 8rem;
    }

    .detalhes__cadeiras__titulo {
        font-size: 32px;
    }

}

@media(min-width: 1440px) {
    .setores__banner__imagem {
        background-image: url("../img/Banner_setores_1440.png");
        width: 100%;
        height: 407px;
    }

    .setores__mapa {
        display: flex;
        padding: 2rem 7.5rem 5rem 7.5rem;
    }

    .setores__mapa__imagem {
        display: inline-block;
        width: 690px;
        height: 609px;
        padding: 0;
    }

    .setores__mapa__legenda {
        justify-content: left;
        align-items: center;
        padding: 7rem 0 0 2rem;
    }

    .detalhes__container {
        display: flex;
        margin: 0 6rem;
    }

    .detalhes__cadeiras, .detalhes__pista, .detalhes__pistapremium {
        flex: 1;
    }

    .detalhes__pista {
        margin: 0 0 0 0;
    }

    .detalhes__pista__imagem {
        width: 100%;
        height: 239px;
        padding: 0;
    }

    .detalhes__pista__titulo {
        padding: 1.5rem 0;
    }

    .detalhes__pistapremium {
        margin: 7.5rem 0 0 0;
        padding: 0 1rem;
    }

    .detalhes__pistapremium__imagem {
        width: 100%;
        height: 239px;
        padding: 0;
    }

    .detalhes__pistapremium__titulo {
        padding: 1.5rem 0;
    }

    .detalhes__cadeiras {
        margin: 0 0 0 0;
    }

    .detalhes__cadeiras__imagem {
        width: 100%;
        height: 239px;
        padding: 0;
    }

    .detalhes__cadeiras__titulo {
        padding: 1.5rem 0;
    }

}